.carousel-inner .carousel-item {
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
  min-height: 50vh;
}

.scroll-image {
  width: 100%;
  height: 100%;
  min-height: inherit;
  object-fit: cover;
  object-position: center;
}

.carousel-container { 
    background-color: rgba(98, 98, 98, 0.8);
    border: rgba(246, 202, 202, 0.5);
    max-height: 75%;
}

.carousel-text {
    font-family: 'League Spartan', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
    color: #E8E8E8;
    text-align: center;
}

.carousel-header {
  font-size: clamp(16px, 2.45vw, 120px);
}

.carousel-description {
  font-size: clamp(13px, 1.25vw, 70px);
}

.btn-success { 
    background-color: #294C2A !important;
    border: 3px solid #192F1A !important;
    height: auto;
    min-height:  55px;
    font-family: 'League Spartan', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
}