.header-container { 
    background-color: #294C2A;
    border: 5px solid #192F1A;
}

.harp-icon {
    height: 75px;
    width: 75px;
}

.link-icon {
    height: 40px;
    width: 40px;
}

.header-text {
    font-family: 'League Spartan', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
    color: #E3E3E3;
    text-decoration: none;
}